<head></head>
<body>
<h1 style="color: indianred;">Privacy Policy</h1>
<p>Last updated: August 07, 2023</p>
<div>
<p>
Welcome to the MatchDay Sports app ("we," "us," or "our"). This Privacy Policy outlines how we collect, use, disclose, and protect information about you when you use our mobile application ("App"). By accessing or using the App, you consent to the practices described in this Privacy Policy.
</p>
<div style="font-family: serif; width: 75%; font-size: 17px;line-height: 25px;">
<h3>Information We Collect</h3>
A. Usage Data:
We automatically collect certain information when you use the App, including your device's Internet Protocol (IP) address, device type, operating system, app version, usage patterns, and interactions with the App.
<br />
B. App Usage Information:
We may collect information about your interactions with the App, such as the features you use and the actions you take.
<h3>How We Use Your Information</h3>
A. App Operation and Improvement:
We use the collected information to operate, maintain, and enhance the App's functionality, as well as to analyze user behavior and trends to improve the user experience.
<br />
B. Communication:
We do not use your information for communication purposes, such as sending promotional emails, as we do not require your email address or personal details.
<h3>Sharing Your Information</h3>
We do not share your information with third parties, as we do not collect personal information or share any data with external parties.
<h3>Your Choices</h3>
Since we do not collect personal information or require signup/login, there are no specific choices or options related to your data for you to manage.
<h3>Data Security</h3>
While we implement reasonable security measures, please note that no method of transmission or storage is 100% secure. We strive to protect your data from unauthorized access, alteration, disclosure, or destruction.
<h3>Changes to this Privacy Policy</h3>
We may update this Privacy Policy periodically. The revised policy will be effective upon posting in the App. Your continued use of the App constitutes acceptance of the updated Privacy Policy.
<h3>Contact Us</h3>
For questions or inquiries regarding this Privacy Policy or your use of the App, please contact us at <span style="color: indianred;">majziklafax@hotmail.com.</span>

<p>By using the MatchDay Sports App, you acknowledge that you have read, understood, and agreed to this Privacy Policy.</p>
</div>
</div>
</body>